<!DOCTYPE html>
<html>
  <head>
    <title>StockY</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="title" property="og:title" content="StockY" />
    <meta property="og:type" content="E-commerce">
    <meta name="image" property="og:image" content="https://media.giphy.com/media/1PWwEijW4sAbReyQfr/giphy.gif" />
    <meta name="description" property="og:description" content=" StockY is a full-stack, single-page, and a functional clone of the popular e-commerce marketplace StockX, that allows users to trade authentic sneakers, clothes, accessories, NFTs, and more." />
    <meta name="author" content="Elhoussine" />
    <meta property="og:url" content="https://stockxy.herokuapp.com/#/"/>

    <script type="text/javascript">
      window.logo = "<%= image_url("logo.png")%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
